# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# Maven 
target/

# IntelliJ project files 
*.iml
*.iws
*.ipr
.idea/

# OS
.DS_Store
Thumbs.db

# Gradle build output
/build/
/out/
/.gradle/

# Gradle cache and wrapper
.gradle/cache/
/.gradle/wrapper/dists/
/.gradle/wrapper/gradle-wrapper.jar

# Ignore local configurations
gradle.properties

# Local runtime and distribution
distributions/
libs/

# Project-specific files
#/src/main/resources/test_json/submissions.json
#/src/main/java/com/ecsail/jotform/TestJSONProcess.java
