/* General Options */

.tab-pane{
    -fx-tab-min-width:90px;
}

.tab:selected {
    -fx-background-color: #1658e7;
    /*  -fx-background-image: url("background.jpg");*/
}

/* Custom Options */


#custom-tab-pane .tab {
    -fx-background-insets: 0 0 0 0,0,0;
}

#custom-tab-pane .tab:selected {
    -fx-background-color: #1658e7;
    /*  -fx-background-image: url("background.jpg");*/
}

#custom-tab-pane .tab-label {
    -fx-alignment: CENTER;
    -fx-text-fill: #fdfdfd;
    -fx-font-size: 12px;
    -fx-font-weight: bold;
}

#custom-tab-pane .tab-header-background {  /* When not selected */
    -fx-background-color: transparent;
}

#custom-tap-pane-frame {
    -fx-background-color: #807f7f;
}

#custom-mini-tab-pane {
    -fx-tab-min-width: 10px;
}

#custom-mini-tab-pane .tab {
    -fx-background-insets: 0 0 0 0,0,0;
}

#custom-mini-tab-pane .tab:selected {
    -fx-background-color: #1658e7;
    /*  -fx-background-image: url("background.jpg");*/
}

#custom-mini-tab-pane .tab-label {
    -fx-alignment: CENTER;
    -fx-text-fill: #828282;
    -fx-font-size: 10px;
    -fx-font-weight: bold;
}

#custom-mini-tab-pane .tab-header-background {  /* When not selected */
    -fx-background-color: transparent;
}